<app-menu></app-menu>
<div class="simulador">
  <div class="row">
    <div class="col-md-4">
      <a href="https://finfloor.finsa.com/?language=es" style="text-decoration: none;" target="_blank">
        <div class="card">
          <div class="card-body">
            <h2>
              <p class="card-text"><strong>Simulador </strong></p>
            </h2>
          </div>
          <img src="../../../../assets/fin.webp" class="img-fluid" alt="Finfloor">
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="https://www.pergo.es/es-es/inspiracion/floorlab" style="text-decoration: none;" target="_blank">
        <div class="card">
          <div class="card-body">
            <h2>
              <p class="card-text"><strong>Simulador </strong></p>
            </h2>
          </div>
          <img src="../../../../assets/pergo.png" class=" img-fluid" alt="Pergo">
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="https://www.kahrs.com/en/floorplanner/" style="text-decoration: none;" target="_blank">
        <div class="card">
          <div class="card-body ">
            <h2>
              <p class="card-text"><strong>Simulador </strong></p>
            </h2>
          </div>
          <img src="../../../../assets/Kahrs.png" class="img-fluid" alt="Kahrs">
        </div>
      </a>
    </div>
  </div>
</div>

<app-footer></app-footer>