<app-menu></app-menu>

<div class="nosotros">
    <div class="texto">
    <p>
        Ante el inminente cese de la actividad comercial, de la empresa PARQUET'S URIOL S.A., creemos en la gran oportunidad que se nos presenta, de poder seguir con la trayectoria que dicha empresa ha venido ejerciendo "desde hace 35 años".
Nuestro principal reto, y esperamos conseguirlo,es seguir con la CALIDAD, SERVICIO Y PROFESIONALIDAD que avala la trayectoria demostrada por Parquet's Uriol.<br>Somos profesionales que durante más de 20 años hemos venido colaborando en llevar a la empresa Paquet's Uriol S.A a ocupar el lugar que merecidamente ha conseguido en el mercado de los "PARQUETS".

        Les prometemos la maxima seriedad, que demostraremos proximamente con la confianza ya demostrada por las principales Empresas que han prometido su continuidad.<br>
        GRACIAS
        FEINES EN PARQUET S.L.</p>
    </div>
</div>

<app-footer></app-footer>